@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

html
{
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
    background-repeat       : no-repeat;
    background: -webkit-linear-gradient(
        top, #b4cecb 0%,#d1b0c1 30%,#cdbfc5 42%,#eaefed 100%);
    background: -moz-linear-gradient(
        top, #b4cecb 0%, #d1b0c1 30%, #cdbfc5 42%, #eaefed 100%);
    background: -ms-linear-gradient(
        top, #b4cecb 0%, #d1b0c1 30%, #cdbfc5 42%, #eaefed 100%);
    background: -o-linear-gradient(
        top, #b4cecb 0%, #d1b0c1 30%, #cdbfc5 42%, #eaefed 100%);
    background: linear-gradient(
        to bottom, #b4cecb 0%,#d1b0c1 30%,#cdbfc5 42%,#eaefed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#b4cecb', endColorstr='#eaefed',GradientType=0 );
}

html,
body
{
    height : 100%;
}

#layout
{
    height  : 100%;
    width   : 100%;
    display : table;
}

#container
{
    vertical-align : middle;
    display        : table-cell;
    height         : 100%;
}

#content
{
    margin : 0 auto;
    /*mix-blend-mode : overlay;
    opacity: 0.5;*/
}

#logo
{
    vertical-align : middle;
    height         : 400pt;
}

#logo img
{
    display      : block;
    padding-left : 30pt;
    opacity      : 0.5;
}

#text
{
    vertical-align : middle;
}

#invitation
{
    /*width          : 80pt;*/
    font-family    : 'EB Garamond', serif;
    font-variant   : small-caps;
    font-size      : 14pt;
    text-align     : left;
    vertical-align : top;
    padding-left   : 20pt;
    line-height    : 1.2;
    color          : #82609f;
    opacity        : 0.9;
    /*color          : #191e44;*/
}

#invitation a
{
    text-decoration : none;
    color : #7489a3;
}

#invitation > p:not(:last-child)
{
    padding-bottom : 14pt;
}

#greetings,
#signature
{
    font-family    : 'Rubik', sans-serif;
    /*color          : #22295c; // #a584b2; */
    font-size      : 32pt;
    text-align     : right;
    text-transform : uppercase;
    color          : #987cb0;
    opacity        : 0.7;
}

#greetings
{
    position : relative;
    top      : -2pt;
}

#signature
{
    position       : relative;
    bottom         : -2pt;
    vertical-align : bottom;
}
